logo-software-testing-nagarro.jpg
ErroMdc.png
*.html
*.pdf
build/

#Java Projects
*.class
target/
.idea
*.iml
~$*
**/nbproject/
aulas/
prova*/
provas/
provas-tdd/
seu-nome-aqui.zip

#MacOS Files
.DS_Store

#Eclipse and VS Code Project Files
.classpath
.project
.settings/
.vscode/

#Backup Moodle
*.mbz

*.xlsx
*telegram*.adoc

01-introducao-tdd/
02-sistema-bancario/
03-vendas-api-spring-test/
